@model Web.Models.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>@Model.Name</h2>

<div class="row">

    <div class="col-md-6">
        <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/Products/Images/42/289691/iphone-14-pro-vang-thumb-600x600.jpg" alt="@Model.Name" class="card-img-top mt-2"/>
    </div>

    <div class="col-md-6">

        <div class="card-text fw-bold d-flex">
            <h5>Giá:</h5>
            <h5 class="text-danger ms-1">@Model.Price.ToString("C")</h5>
        </div>

        <br />

        <h6>Hãng: @ViewBag.Brand</h6>
        <h6>Mô tả: @Model.Description</h6>

        <br />
        <br />

        <button class="btn btn-lg p-3 w-75 text-white" style="background-color: red">Mua ngay</button>
    </div>

</div>